/* generics */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 70px;
}

a{
    text-decoration: none;
}

/* utils */

.flex-container{
    display: flex;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.gray-text{
    color: #E7E7E7;
}

.white-text{
    color: #fff;
}

/* navbar */



.navbar{
    position: fixed;
    background-color: #FF6900;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.navbar a{
    color: white;
    padding: 0 2px;
}

.navbar img{
    width: 150px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}