/* generics */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 70px;
}

a{
    text-decoration: none;
}

/* utils */

.flex-container{
    display: flex;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.white-text{
    color: #fff;
}

/* navbar */



.navbar{
    position: fixed;
    z-index: 1;
    background-color: #FF6900;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.navbar a{
    color: white;
    padding: 0 2px;
}

.navbar img{
    width: 150px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Articles */

.row{
    display: flex;
    padding: 60px 0;
    width: 100%;
    justify-content: space-evenly;
}

.column{
    position: relative;
    width: calc(100% / 3 - 30px);
}

.column img{
    width: 370px;
}

h4{
    margin: 0;
    text-transform: uppercase;
}

.red-txt{
    color: #ff0000;
    font-weight: 700;
}

.del-txt{
    text-decoration: line-through;
}

.red-txt::after, .del-txt::after{
    content: '\20AC';
}